<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h1>Вот что я могу</h1>
    <aside class="col-12 col-md-3">
        <ur class="list-group list-group-flush">
            <li class="list-group-item">
                Python
            </li>
        </ur>
    </aside>
    <article class="col-12 col-md-9">
        <p>
            Текст страницы Технологии
        </p>
    </article>
</div>
{% endblock %}